<div class="row">
    <div class="col">
        <h5>Login Count Per App</h5>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>App</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody id="content">
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col"></div>

</div>

<script>
    $content = $("#content");


    function renderRows(data) {
        var rows;

        data.forEach(function(item) {
            rows += `
<tr>
    <td>${item}</td>
    <td></td>
</tr>
`;
        });

        return rows;
    }

    function renderPagination() {
        var pagination;
        return pagination;
    }

    $content.append(renderRows([1, 2, 3]));


</script>